NUXT_PUBLIC_ANALYTICS_BASE_URL=https://analytics.oyaplasticfactory.com
NUXT_PUBLIC_ANALYTICS_SITE_ID=oyaplasticfactory.com
NUXT_PUBLIC_ANALYTICS_TOKEN=
NUXT_PUBLIC_ANALYTICS_ENDPOINT=https://analytics.oyaplasticfactory.com/api/stats/track
NUXT_PUBLIC_ANALYTICS_SITE_ID=oyaplasticfactory.com
NUXT_PUBLIC_CONTACT_ENDPOINT=https://analytics.oyaplasticfactory.com/api/contact
