@font-face {
  font-family: "iconfont"; /* Project id 5060299 */
  src: url('iconfont.woff2?t=1762504883347') format('woff2'),
       url('iconfont.woff?t=1762504883347') format('woff'),
       url('iconfont.ttf?t=1762504883347') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: calc(1.2 / 1);
}


.icon-totop:before {
  content: "\e67c";
}

.icon-right:before {
  content: "\e667";
}

.icon-play:before {
  content: "\e60e";
}

.icon-menu:before {
  content: "\e624";
}

.icon-search:before {
  content: "\e6c4";
}

